{
    "Version": "2019-10-30",
    "StartAction": "dd6edb42-8a22-470a-9fcf-a99b2d459874",
    "Metadata": {
      "entryPointPosition": {
        "x": 74.4,
        "y": 20
      },
      "ActionMetadata": {
        "95dc2179-0f18-4646-8e15-15377c9cbb29": {
          "position": {
            "x": 787.2,
            "y": 63.2
          }
        },
        "4f298152-57f6-451b-b541-071b5187f92a": {
          "position": {
            "x": 782.4,
            "y": 410.4
          }
        },
        "707561e5-de1e-4990-8eeb-aaf9306baa73": {
          "position": {
            "x": 789.6,
            "y": 604.8
          }
        },
        "7fb18f1d-e9ea-4f50-ab81-2895821116b6": {
          "position": {
            "x": 788.8,
            "y": 773.6
          }
        },
        "1a9c64bf-5a33-409e-8762-4e2da062c7c4": {
          "position": {
            "x": 796,
            "y": 937.6
          }
        },
        "3a8b5aa2-2981-49f4-91b9-6df133428b2c": {
          "position": {
            "x": 796.8,
            "y": 1111.2
          }
        },
        "Account Admin": {
          "position": {
            "x": 519.2,
            "y": 30.4
          },
          "isFriendlyName": true
        },
        "Payments": {
          "position": {
            "x": 514.4,
            "y": 377.6
          },
          "isFriendlyName": true
        },
        "Default": {
          "position": {
            "x": 518.4,
            "y": 575.2
          },
          "isFriendlyName": true
        },
        "Local Authority": {
          "position": {
            "x": 520.8,
            "y": 740.8
          },
          "isFriendlyName": true
        },
        "Welsh language": {
          "position": {
            "x": 528,
            "y": 904.8
          },
          "isFriendlyName": true
        },
        "No match": {
          "position": {
            "x": 528.8,
            "y": 1078.4
          },
          "isFriendlyName": true
        },
        "a1ddf7d6-a18c-46e6-bbc4-c062e8ad4739": {
          "position": {
            "x": 790.4,
            "y": 183.2
          }
        },
        "dd6edb42-8a22-470a-9fcf-a99b2d459874": {
          "position": {
            "x": 162.4,
            "y": 457.6
          },
          "conditions": [],
          "conditionMetadata": [
            {
              "id": "79526291-6285-467d-b360-7d3a4e8af945",
              "operator": {
                "name": "Equals",
                "value": "Equals",
                "shortDisplay": "="
              },
              "value": "Account_Admin"
            },
            {
              "id": "b777b2a1-0c2b-44f8-9e09-c75fb608a2fd",
              "operator": {
                "name": "Equals",
                "value": "Equals",
                "shortDisplay": "="
              },
              "value": "Packaging"
            },
            {
              "id": "66a4640a-8aaa-42df-b971-603bb531d529",
              "operator": {
                "name": "Equals",
                "value": "Equals",
                "shortDisplay": "="
              },
              "value": "Payments"
            },
            {
              "id": "12e0c77b-e6b8-4ba6-bbd0-ee0d1bb24c0a",
              "operator": {
                "name": "Equals",
                "value": "Equals",
                "shortDisplay": "="
              },
              "value": "Default"
            },
            {
              "id": "2dbfea09-bca4-4de2-a5f7-6980a04d7043",
              "operator": {
                "name": "Equals",
                "value": "Equals",
                "shortDisplay": "="
              },
              "value": "Local_Authority"
            },
            {
              "id": "84b7acca-98cd-45dd-95ce-50aa7fbae186",
              "operator": {
                "name": "Equals",
                "value": "Equals",
                "shortDisplay": "="
              },
              "value": "Welsh"
            }
          ]
        },
        "Packaging": {
          "position": {
            "x": 512.8,
            "y": 200
          },
          "isFriendlyName": true
        }
      },
      "Annotations": [],
      "name": "${agent_whisper_flow_name}",
      "description": "FSS Agent Whisper Flow",
      "type": "agentWhisper",
      "status": "PUBLISHED",
      "hash": {}
    },
    "Actions": [
      {
        "Parameters": {},
        "Identifier": "95dc2179-0f18-4646-8e15-15377c9cbb29",
        "Type": "EndFlowExecution",
        "Transitions": {}
      },
      {
        "Parameters": {},
        "Identifier": "4f298152-57f6-451b-b541-071b5187f92a",
        "Type": "EndFlowExecution",
        "Transitions": {}
      },
      {
        "Parameters": {},
        "Identifier": "707561e5-de1e-4990-8eeb-aaf9306baa73",
        "Type": "EndFlowExecution",
        "Transitions": {}
      },
      {
        "Parameters": {},
        "Identifier": "7fb18f1d-e9ea-4f50-ab81-2895821116b6",
        "Type": "EndFlowExecution",
        "Transitions": {}
      },
      {
        "Parameters": {},
        "Identifier": "1a9c64bf-5a33-409e-8762-4e2da062c7c4",
        "Type": "EndFlowExecution",
        "Transitions": {}
      },
      {
        "Parameters": {},
        "Identifier": "3a8b5aa2-2981-49f4-91b9-6df133428b2c",
        "Type": "EndFlowExecution",
        "Transitions": {}
      },
      {
        "Parameters": {
          "Text": "Account Administration"
        },
        "Identifier": "Account Admin",
        "Type": "MessageParticipant",
        "Transitions": {
          "NextAction": "95dc2179-0f18-4646-8e15-15377c9cbb29"
        }
      },
      {
        "Parameters": {
          "Text": "Payments"
        },
        "Identifier": "Payments",
        "Type": "MessageParticipant",
        "Transitions": {
          "NextAction": "4f298152-57f6-451b-b541-071b5187f92a"
        }
      },
      {
        "Parameters": {
          "Text": "General advice "
        },
        "Identifier": "Default",
        "Type": "MessageParticipant",
        "Transitions": {
          "NextAction": "707561e5-de1e-4990-8eeb-aaf9306baa73"
        }
      },
      {
        "Parameters": {
          "Text": "Local Authority"
        },
        "Identifier": "Local Authority",
        "Type": "MessageParticipant",
        "Transitions": {
          "NextAction": "7fb18f1d-e9ea-4f50-ab81-2895821116b6"
        }
      },
      {
        "Parameters": {
          "Text": "Welsh language"
        },
        "Identifier": "Welsh language",
        "Type": "MessageParticipant",
        "Transitions": {
          "NextAction": "1a9c64bf-5a33-409e-8762-4e2da062c7c4"
        }
      },
      {
        "Parameters": {
          "Text": "The callers selection could not be determined"
        },
        "Identifier": "No match",
        "Type": "MessageParticipant",
        "Transitions": {
          "NextAction": "3a8b5aa2-2981-49f4-91b9-6df133428b2c"
        }
      },
      {
        "Parameters": {},
        "Identifier": "a1ddf7d6-a18c-46e6-bbc4-c062e8ad4739",
        "Type": "EndFlowExecution",
        "Transitions": {}
      },
      {
        "Parameters": {
          "ComparisonValue": "$.Attributes.FSS_Call_Disposition"
        },
        "Identifier": "dd6edb42-8a22-470a-9fcf-a99b2d459874",
        "Type": "Compare",
        "Transitions": {
          "NextAction": "No match",
          "Conditions": [
            {
              "NextAction": "Account Admin",
              "Condition": {
                "Operator": "Equals",
                "Operands": [
                  "Account_Admin"
                ]
              }
            },
            {
              "NextAction": "Packaging",
              "Condition": {
                "Operator": "Equals",
                "Operands": [
                  "Packaging"
                ]
              }
            },
            {
              "NextAction": "Payments",
              "Condition": {
                "Operator": "Equals",
                "Operands": [
                  "Payments"
                ]
              }
            },
            {
              "NextAction": "Default",
              "Condition": {
                "Operator": "Equals",
                "Operands": [
                  "Default"
                ]
              }
            },
            {
              "NextAction": "Local Authority",
              "Condition": {
                "Operator": "Equals",
                "Operands": [
                  "Local_Authority"
                ]
              }
            },
            {
              "NextAction": "Welsh language",
              "Condition": {
                "Operator": "Equals",
                "Operands": [
                  "Welsh"
                ]
              }
            }
          ],
          "Errors": [
            {
              "NextAction": "No match",
              "ErrorType": "NoMatchingCondition"
            }
          ]
        }
      },
      {
        "Parameters": {
          "Text": "Packaging"
        },
        "Identifier": "Packaging",
        "Type": "MessageParticipant",
        "Transitions": {
          "NextAction": "a1ddf7d6-a18c-46e6-bbc4-c062e8ad4739"
        }
      }
    ]
  }